@page "/monkeys/details"
@inject BlazorAppWebsiteRAD.Data.BlazorAppWebsiteRADContext DB
@using BlazorAppWebsiteRAD.Model
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Monkey</h4>
    <hr />
    @if (monkey is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@monkey.Name</dd>
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm-10">@monkey.Location</dd>
            <dt class="col-sm-2">Details</dt>
            <dd class="col-sm-10">@monkey.Details</dd>
            <dt class="col-sm-2">Image</dt>
            <dd class="col-sm-10">@monkey.Image</dd>
            <dt class="col-sm-2">Population</dt>
            <dd class="col-sm-10">@monkey.Population</dd>
            <dt class="col-sm-2">Latitude</dt>
            <dd class="col-sm-10">@monkey.Latitude</dd>
            <dt class="col-sm-2">Longitude</dt>
            <dd class="col-sm-10">@monkey.Longitude</dd>
        </dl>
        <div>
            <a href="@($"/monkeys/edit?id={monkey.Id}")">Edit</a> |
            <a href="@($"/monkeys")">Back to List</a>
        </div>
    }
</div>

@code {
    Monkey? monkey;

    [SupplyParameterFromQuery]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        monkey = await DB.Monkey.FirstOrDefaultAsync(m => m.Id == Id);

        if (monkey is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
