@using BlazorWebAssemblyStandaloneAppBasics.wwwroot.Components
@page "/"

<EmployeeCard Image="./employee.jpg" Name="Kiss Tamas" ID="124" Joined="12th July 2012" Email="margaret@domain.com"></EmployeeCard>

asdasdsad<br><br>

<PageTitle>Home</PageTitle>

@foreach (Employee e in employees)
{
    <EmployeeCard Image="./employee.jpg" Name="@e.name" ID="124" Joined="12th July 2012" Email="@e.email"></EmployeeCard>
}

@code {
    public List<Employee> employees = new List<Employee>();

    protected override async Task OnAfterRenderAsync(bool isFirst)
    {
        employees.Add(new Employee("Daniel", "d@g.com"));
        employees.Add(new Employee("Mate", "m@g.com"));
    }

    public class Employee
    {
        public string name;
        public string email;

        public Employee(string name, string email)
        {
            this.name = name;
            this.email = email;
        }
    }

    private ElementReference myDiv1;
    private string myClass = "red-text";
}



<div style="color: blue">This is a blue text.</div>

@if (xyz)
{
    <div style="color: blue">This is a blue text.</div>
    <div style="color: blue">This is a blue text.</div>
    <div style="color: blue">This is a blue text.</div>
    <div style="color: blue">This is a blue text.</div>
    <div style="color: blue">This is a blue text.</div>
}


<div @ref="myDiv1" class="@myClass">This is a red text.</div>




<div @ref="myDiv2" style="@myStyle">Hello World!</div>

@code {
    private ElementReference myDiv2;
    private string myStyle = "color: red";

    private bool firstRender = true;

    protected override void OnInitialized()
    {
        if (firstRender)
        {
            myStyle = "color: green";
            firstRender = false;
        }
    }
}


@if (isPageLoaded)
{
    <input type="text" @bind-value='HTMLDom.FindByID("input1").text' style="background-color: @HTMLDom.FindByID("input1").bgcolor">
    <input type="text" @bind-value='HTMLDom.FindByID("input2").text' style="background-color: @HTMLDom.FindByID("input2").bgcolor">
    
    <button @onclick='() => { ChangeColor("input1"); }'>xyz</button>
    @HTMLDom.FindByID("input1").text
}

@code {
    public bool isPageLoaded = false;
    public bool xyz = false;

    protected override async Task OnInitializedAsync()
    {
        HTMLDom.domObjects.Add(new HTMLDomObject("input1", "red", "test"));
        HTMLDom.domObjects.Add(new HTMLDomObject("input2", "yellow"));
        isPageLoaded = true;
    }

    public void ChangeColor (string id)
    {
        HTMLDom.FindByID(id).bgcolor = "blue";
        xyz = true;

        // Újra rendereli az oldalt!
        StateHasChanged();
    }
}