<div class="card">
    <div class="card-body">
        <h6 class="card-title text-center">Digital Marketing</h6>
        <h6 class="card-subtitle mb-2 text-muted text-center">Sales Department</h6>
        <div class="card-text text-center">
            <img class="card-img-top" src="@image" alt="Card image cap">
            <h5>@name</h5>
        </div>
        <div>
            <h6 class="card-text"><b>ID</b>  : <small>@id</small></h6>
            <h6 class="card-text"><b>Joined</b>: <small>@joined</small> </h6>
            <h6 class="card-text"><b>Email</b>: <small>@email</small></h6>
        </div>

    </div>
</div>

@code {

    [Parameter]
    public string name { get; set; }

    [Parameter]
    public string image { get; set; }

    [Parameter]
    public int id { get; set; }

    [Parameter]
    public string joined { get; set; }

    [Parameter]
    public string email { get; set; }

}